@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    
}

.card {
    height: 600px;
    border: none;
    border-radius: 15px
}

.message-container {
    height: 600px;
    width: 600px;
    overflow: auto;
}

 

.adiv {
    background: #04CB28;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px;
    
}


.chat {
    border: none;
    background: #E2FFE8;
    font-size: 10px;
    border-radius: 20px;
}

.message{
    background-color: rgb(209, 248, 169);
    width: 35%;
    padding: 10px;
    margin: 17px 12px;
    border:2px solid rgb(29, 114, 29);
    border-radius: 10px;
}

.left{
   float: left;
   clear: both;
}

.right{
   float: right;
   clear: both;
}
 


.form-control {
    border-radius: 10px;
    border: 1px solid #727171;
    font-size: 12px
    
    
}
.btn{
    border-radius: 10px;
    border: 3px solid #13fc39;
    font-size: 12px
}

/* .form-control:focus {
    box-shadow: none
} */

.form-control::placeholder {
    font-size: 12px;
    color: #C4C4C4
}
